

<div style="display: flex; align-items: center;justify-content: center;height: 100vh;">

  <form action="" method="" class="form-horizontal" (submit)="addProduct()">
    <div><caption>Add Product</caption>
    </div>
    <div>
      <div>
        Product Name:
      </div>
      <input type="text" placeholder="Product Name" name="productName" [(ngModel)]="product.productName">
      <!-- @if (!product.productName){ <p>Product Name Required...</p>} -->
    </div>
    <div>
      <div>
        Product Price:
      </div>
      <input type="text" placeholder="price" name="price" [(ngModel)]="product.price">
    </div>
    <div>
      <div>
        Product Details:
      </div>
      <textarea type="text" placeholder="Product Details" name="productDetails" [(ngModel)]="product.productDetails"></textarea>
    </div>
<button type="submit" class="btn btn-primary">Submit</button>
  </form>
 </div>
