<div style="display: flex; align-items: center;justify-content: center;height: 100vh;">
  <form action="" method="" class="form-horizontal" (submit)="editProduct()" >
    <div>
      <div>
        Product Name:
      </div>
      <input type="text" placeholder="Product Name" name="productName" [(ngModel)]="product.productName">
      <!-- @if (!product.productName){ <p>Product Name Required...</p>} -->
    </div>
    <div>
      <div>
        Product Price:
      </div>
      <input type="text" placeholder="Product Price" name="productPrice" [(ngModel)]="product.price">
    </div>
    <div>
      <div>
        Product Details:
      </div>
      <textarea type="textarea" rows="4" cols="50" placeholder="Product Name" name="productDetails" [(ngModel)]="product.productDetails"></textarea>
    </div>
<button type="submit" class="btn btn-primary">Submit</button>
  </form>
 </div>
