<div class='container'>

  <div id="navigation-bar">
    <nav>
      <ul>
        <li><a routerLink="" style ="cursor:pointer;">Home</a></li>
        <li><a routerLink="stock-list" style ="cursor:pointer;">Stock</a></li>
        <li><a routerLink="stock-purchase-list" style ="cursor:pointer;">Stock Purchase List</a></li>
        <li><a routerLink="stock-sale-list" style ="cursor:pointer;">Stock Sale List</a></li>
        <li><a routerLink="add-product" style ="cursor:pointer;">Add Product</a></li>
       </ul>
    </nav>
  </div>
