<div class='container'>

  <div id="navigation-bar">
    <nav>
      <ul>
        <li><a routerLink="" style ="cursor:pointer;">Home</a></li>
        <li><a routerLink="stock" style ="cursor:pointer;">Stock</a></li>
        <li><a routerLink="stock-purchase" style ="cursor:pointer;">Stock Purchase</a></li>
        <li><a routerLink="stock-sale" style ="cursor:pointer;">Stock Sale</a></li>
        <li><a routerLink="add-product" style ="cursor:pointer;">Add Product</a></li>
       </ul>
    </nav>
  </div>
